DATABASE_URL="postgresql://movie_user:movie_password@localhost:5432/movie_collections?schema=public"
MOVIE_API_KEY=""
MOVIE_API_URL="https://api.themoviedb.org/3"
PORT=4000
CLIENT_URL="http://localhost:5173"
